<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
        <ul>
            <%publishers.forEach(publisher => { %>
               <li>
                    <h1><%=publisher.name%></h1>
                    <%-include('gamelist', {games: publisher.games})%>
                </li>
           <% }); %>
        </ul>
    </body>
</html>
