<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Entry</title>
	</head>
	<body>
		<div>
			<h2>Add games</h2>
			<form action="/new-entry" method="post">
				<select name="dev" id="dev">
					<% developers.forEach(dev => { %>
						<option value = "<%=dev.name%>"><%=dev.name%></option>
					<% }); %>
				</select>
				<div class = "inputwrapper">
					<label for="newgame">
						<p>Enter names of game:</p>
						<input name ="games[]" id="newgame" type="text">
					</label>
				</div>

				<button type = button id="add-button">+</button>
				<button type = submit>submit</button>	

			</form>

		</div>
	</body>

	<script>

		const inputwrapper = document.querySelector(".inputwrapper");
		const addButton = document.querySelector("#add-button");

		addButton.addEventListener("click", () => {
			
			const input = document.createElement("input");
			input.type = "text";
			input.name = `games[]`;
			input.placeholder = "Game name";
+			inputwrapper.appendChild(input);
		});

		
	</script>
</html>
